.otp-input {
  width: 15%;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  transition: all 0.2s;
}
.otp-input:focus {
  outline: none;
  border-color: #06b6d4; /* cyan-500 */
  box-shadow: 0 0 0 3px rgba(6, 182, 212, 0.4);
}
